$white: #ffffff;
$blue: #3772ff;
$blueLight: #4bc9f0;
$purple: #9757d7;
$purpleLight: #cdb4db;
$red: #ef466f;
$green: #45b26b;
$asphalt: #e4d7cf;
$yellow: #ffd166;
$neutrals: #000000, #141416, #23262f, #353945, #777e90, #b1b5c3, #e6e8ec,
    #f4f5f6, #fcfcfd;
